.intro {
    font-style: oblique;
    color: purple;
}
p.intro {
  font-style: italic;
  color: black;
}
.important {
    font-style: normal;
    background-color: aqua;
}
.still-important {
    font-style: normal;
    background-color: red;
}
