.intro {
    font-style: oblique;
    color: purple;
    text-align: center;
}
p.intro {
  font-style: italic;
  color: black;
  text-align: center;
}
.important {
    font-style: normal;
    background-color: aqua;
    text-align: center;
}
.still-important {
    font-style: normal;
    background-color: red;
    float: ;
}
img {
    float: inherit;
    
}
.more-important{
    font-style: oblique;
    color: purple;
    text-align: center;
}
.menu{
    text-align: center;
    color: purple;
}